In [1]:
import pandas as pd

In [2]:
pa = pd.read_csv("playstore_apps.csv")
pa.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19M,10000.0,Free,0.0,Everyone,Art & Design,07-01-2018,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,14M,500000.0,Free,0.0,Everyone,Art & Design;Pretend Play,15-01-2018,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,8.7M,5000000.0,Free,0.0,Everyone,Art & Design,01-08-2018,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,25M,50000000.0,Free,0.0,Teen,Art & Design,08-06-2018,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,2.8M,100000.0,Free,0.0,Everyone,Art & Design;Creativity,20-06-2018,1.1,4.4 and up

In [3]:
# List of unwanted columns
unwanted_columns = ['Last Updated', 'Current Ver', 'Android Ver', 'Size']

# Dropping the unwanted columns
pa.drop(unwanted_columns, axis=1, inplace=True)

pa.head()

,App,Category,Rating,Reviews,Installs,Type,Price,Content Rating,Genres
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,10000.0,Free,0.0,Everyone,Art & Design
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,500000.0,Free,0.0,Everyone,Art & Design;Pretend Play
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,5000000.0,Free,0.0,Everyone,Art & Design
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,50000000.0,Free,0.0,Teen,Art & Design
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,100000.0,Free,0.0,Everyone,Art & Design;Creativity

In [4]:
# Check the number of rows
print("Number of rows:", len(pa))

# Removing duplicates
pa.drop_duplicates(inplace=True)

# Check the number of rows after removing duplicates
print("Number of rows after removing duplicates:", len(pa))

Number of rows: 10841
Number of rows after removing duplicates: 10356

In [5]:
pa.isnull().sum()

App                  0
Category             0
Rating            1465
Reviews              1
Installs             1
Type                 1
Price                1
Content Rating       1
Genres               0
dtype: int64

In [6]:
# Calculate the mean rating rounded to one decimal point
mean_rating = round(pa['Rating'].mean(), 1)

# Fill null values with the mean rating
pa['Rating'].fillna(mean_rating, inplace=True)

In [7]:
pa['Content Rating'].value_counts()

Everyone           8380
Teen               1146
Mature 17+          447
Everyone 10+        377
Adults only 18+       3
Unrated               2
Name: Content Rating, dtype: int64

In [8]:
pa['Content Rating'].fillna('Everyone', inplace=True)

In [9]:
pa['Price'].fillna(0, inplace=True)

In [10]:
pa['Type'].value_counts()

Free    9589
Paid     765
0          1
Name: Type, dtype: int64

In [11]:
# Replace '0' with 'Free' in 'Type' column
pa['Type'] = pa['Type'].replace('0', 'Free')

In [12]:
pa['Type'].fillna('Free', inplace=True)

In [13]:
pa['Installs'].value_counts()

1.000000e+06    1488
1.000000e+07    1130
1.000000e+05    1129
1.000000e+04    1033
1.000000e+03     890
1.000000e+02     710
5.000000e+06     683
5.000000e+05     517
5.000000e+04     474
5.000000e+03     469
1.000000e+01     385
1.000000e+08     369
5.000000e+02     328
5.000000e+07     272
5.000000e+01     204
5.000000e+00      82
1.000000e+00      67
5.000000e+08      61
1.000000e+09      49
0.000000e+00      15
Name: Installs, dtype: int64

In [14]:
pa['Installs'].fillna(100000, inplace=True)

In [15]:
# Calculate the mean reviews rounded to the nearest integer
mean_reviews = round(pa['Reviews'].mean())

# Fill null values with the mean reviews
pa['Reviews'].fillna(mean_reviews, inplace=True)

In [16]:
pa.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
dtype: int64

In [17]:
pa['Category'].value_counts()

FAMILY                 1943
GAME                   1121
TOOLS                   842
BUSINESS                427
MEDICAL                 408
PRODUCTIVITY            407
PERSONALIZATION         388
LIFESTYLE               373
COMMUNICATION           366
FINANCE                 360
SPORTS                  351
PHOTOGRAPHY             322
HEALTH_AND_FITNESS      306
SOCIAL                  280
NEWS_AND_MAGAZINES      264
TRAVEL_AND_LOCAL        237
BOOKS_AND_REFERENCE     230
SHOPPING                223
DATING                  196
VIDEO_PLAYERS           175
MAPS_AND_NAVIGATION     137
EDUCATION               130
FOOD_AND_DRINK          124
ENTERTAINMENT           111
AUTO_AND_VEHICLES        85
LIBRARIES_AND_DEMO       85
WEATHER                  82
HOUSE_AND_HOME           80
ART_AND_DESIGN           65
EVENTS                   64
PARENTING                60
COMICS                   60
BEAUTY                   53
1.9                       1
Name: Category, dtype: int64

In [18]:
# Drop the row with '1.9' in the 'Category' column
pa = pa[pa['Category'] != '1.9']

In [19]:
# Remove apps with names starting with "?"
pa = pa[~pa['App'].str.startswith('?')]

In [20]:
pa.to_csv('cleaned_apps.csv', index=False)

In [21]:
pr = pd.read_csv("playstore_reviews.csv")
pr.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [22]:
pr.isnull().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

In [23]:
# Remove the rows with NaN values
cpr = pr.dropna(subset=['Translated_Review'])

# Return the cleaned dataframe
cpr.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000
5,10 Best Foods for You,Best way,Positive,1.00,0.300000

In [24]:
# Count the number of duplicated values in the 'Translated_Review' column
duplicates_count = pr.duplicated(subset=['Translated_Review']).sum()

# Drop the duplicated values
pr.drop_duplicates(subset=['Translated_Review'], inplace=True)

# Verify the number of dropped duplicated values
print("Number of dropped duplicates:", duplicates_count)

Number of dropped duplicates: 36300

In [25]:
pr.isna().sum()

App                       0
Translated_Review         1
Sentiment                 1
Sentiment_Polarity        1
Sentiment_Subjectivity    1
dtype: int64

In [26]:
pr.dropna(inplace=True)

In [27]:
pr.to_csv('cleaned_reviews.csv', index=False)